/**
Inline and block code
*/

pre code, code {
  font-family: $menlo;
}

pre, code {
  @include rem(border-radius, 0.3);

  ::-moz-selection {
    background-color: $black !important;
  }

  ::selection {
    background-color: $black !important;
  }
}

pre,
.hljs {
  background-color: $darkBlue;
  @include rem(margin, 3, 2);
  @include rem(padding, 1.5);
}

/**
Inline code
*/

code {
  @include rem(padding, 0, 0.4);
  @include rem(margin, 0, 0.2);
  background-color: rgba($offwhite, 0.5);
  border: 1px solid rgba($faintGray, 0.5);
  @include rem(font-size, 1.4);
  color: $body;
}

/*
Block code
*/

pre {
  @include rem(padding, 2);
  @extend %relative;
}

pre code {
  @include rem(font-size, 1.5);
  background-color: transparent;
  @extend %no-padding;
  @extend %no-margin;
  color: $offwhite;
  line-height: 1.3;
  border: none;

  /* Language ribbon */

  &:after {
    color: $offwhite;
    background-color: darken($darkBlue, 5%);
    // font-family: $lato;
    letter-spacing: 0.1;
    text-transform: uppercase;
    @include rem(font-size, 1.2);
    @include rem(padding, 0.5, 1);
    @extend %inline_block;
    @extend %no-margin;

    @extend %absolute;
    @extend %top;
    @extend %right;

    border: 1px solid rgba($black, 0.3);
    @include rem(border-bottom-left-radius, 0.3);
    @include rem(border-bottom-right-radius, 0.3);
  }
}

/**
Create text for ribbon containing code language abbreviation
Format:
$languages: name color [optional abbreviation]
*/

$languages:
  html $green,
  javascript $orange js,
  css $purple,
  scss $purple,
  handlebars $green hbs,
  ruby $red,
  sh $black cli;

@each $language in $languages {
  $name: nth($language, 1);
  // $color: nth($language, 2);
  $abbr: null;

  // If there is an abbreviation
  // @if length($language) > 2 {
  //   $abbr: nth($language, 3);

  //   .lang-#{$abbr} {
  //     &:after {
  //       // background-color: rgba($color, 0.5);
  //       content: '#{$abbr}';
  //     }
  //   }
  // } @else {
  //   $abbr: $name;
  // }

  .#{$name} {
    &:after {
      // background-color: rgba($color, 0.5);
      content: '#{$abbr}';
    }
  }
}


/*

Based off Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

// pre {
//   background-color: #23221f;
// }

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: $white; // white
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; // dark beige
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: $purple;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: $green; //green
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child {
  font-style: italic;
}

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: $red; // pink
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: $blue; //blue
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2; // white
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.haskell .hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.sql .hljs-aggregate,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: $orange; // yellow
}

.hljs-comment,
.hljs-javadoc,
.java .hljs-annotation,
.python .hljs-decorator,
.hljs-template_comment,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #7f7a65; // dark brown
}

.hljs-comment,
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  // @include opacity(0.8);
}
