.tooltip {
  max-width: 200px;
  color: #fff;
  background: #3a3c47;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;

  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin: -5px;
    background: inherit;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.tooltip.tooltip-top:after, .tooltip.tooltip-top-left:after, .tooltip.tooltip-top-right:after { bottom: 0; }
.tooltip.tooltip-bottom:after, .tooltip.tooltip-bottom-left:after, .tooltip.tooltip-bottom-right:after { top: 0; }
.tooltip.tooltip-top:after, .tooltip.tooltip-bottom:after { left: 50%; }
.tooltip.tooltip-top-left:after, .tooltip.tooltip-bottom-left:after { right: 15px; }
.tooltip.tooltip-top-right:after, .tooltip.tooltip-bottom-right:after { left: 15px; }

.tooltip.tooltip-left:after, .tooltip.tooltip-left-top:after, .tooltip.tooltip-left-bottom:after { right: 0; }
.tooltip.tooltip-right:after, .tooltip.tooltip-right-top:after, .tooltip.tooltip-right-bottom:after { left: 0; }
.tooltip.tooltip-left:after, .tooltip.tooltip-right:after { top: 50%; }
.tooltip.tooltip-left-top:after, .tooltip.tooltip-right-top:after { bottom: 15px; }
.tooltip.tooltip-left-bottom:after, .tooltip.tooltip-right-bottom:after { top: 15px; }

/* Fade */

.tooltip {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out, margin 200ms ease-out;
  transition: opacity 200ms ease-out, margin 200ms ease-out;

  &.tooltip-top {
    margin-top: 10px;
  }

  &.tooltip-right {
    margin-left: -10px;
  }

  &.tooltip-bottom {
    margin-top: -10px;
  }

  &.tooltip-left {
    margin-left: 10px;
  }

  &.tooltip-is-visible {
    opacity: 1;
    transition-duration: 100ms;
    margin: 0px;
  }
}
