$tooltipBackgroundColor: #3a3c47;

.ember-tooltip-base {
  display: none;
  height: 0;
  width: 0;
  position: absolute;
}

.ember-tooltip,
.ember-popover {
  // Removed for development
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // user-select: none;
  // pointer-events: none;
  // transition: none;

  font-size: 14px;
  font-family: inherit;
  border-radius: 3px;
}

.ember-tooltip {
  max-width: 200px;
  padding: 6px 10px;
  color: #fff;
  background: $tooltipBackgroundColor;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  white-space: normal; // IE doesnt support initial so fall back to normal
  white-space: initial;
}

.ember-popover {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.ember-tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border: 5px solid transparent;
}

.ember-tooltip[x-placement^="top"] {
  margin-bottom: 5px;

  .ember-tooltip-arrow {
    border-bottom-width: 0;
    border-top-color: $tooltipBackgroundColor;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.ember-tooltip[x-placement^="bottom"] {
  margin-top: 5px;

  .ember-tooltip-arrow {
    border-top-width: 0;
    border-bottom-color: $tooltipBackgroundColor;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.ember-tooltip[x-placement^="right"] {
  margin-left: 5px;

  .ember-tooltip-arrow {
    border-left-width: 0;
    border-right-color: $tooltipBackgroundColor;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
}

.ember-tooltip[x-placement^="left"] {
  margin-right: 5px;

  .ember-tooltip-arrow {
    border-right-width: 0;
    border-left-color: $tooltipBackgroundColor;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
}




/* Fade TODO */

.ember-tooltip,
.ember-popover {
  // opacity: 0;

  &.ember-tooltip-or-popover-slide,
  &.ember-tooltip-or-popover-fade {
    -webkit-transition: opacity 200ms ease-out, margin 200ms ease-out;
    transition: opacity 200ms ease-out, margin 200ms ease-out;
  }

  &.ember-tooltip-or-popover-slide {
    &.ember-tooltip-or-popover-target-attached-top {
      margin-top: 10px;
    }

    &.ember-tooltip-or-popover-target-attached-right {
      margin-left: -10px;
    }

    &.ember-tooltip-or-popover-target-attached-bottom {
      margin-top: -10px;
    }

    &.ember-tooltip-or-popover-target-attached-left {
      margin-left: 10px;
    }
  }

  &[aria-hidden="false"] {
    opacity: 1;
    // transition-duration: 100ms; // Shorter hide duration

    &.ember-tooltip-or-popover-slide {
      margin: 0px;
    }
  }
}
