/*
Remove the units from a number (CSS Tricks)

http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
*/

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

/*
Set sizes in REM with PX as a fallback for older browsers (CSS Tricks)

http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
*/

@mixin rem($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i)) * 10;
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}
