/* Colors */

:root {
  --blue: #82b1cb;
  --darkBlue: #2d3543;
  --lightBlue: #a7b2c6;
  --green: #8cc2b1;
  --orange: #e3a57f;
  --purple: #a98ee0;
  --red: #e37f7f;

  --darkGray: #86898d;
  --lightGray: #a1aab7;
  --subtleGray: #ccc;
  --faintGray: #bbb;
  --offwhite: #eee;

  --info: #5D99D0;
  --warning: #f7c854;
}
