.inline-block {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
}

.inline-block:hover {
  border-color: #999;
}

.examples {
  list-style: none;
  padding: 0;
  margin: 30px;
}

.examples li {
  padding: 0;
  margin: 30px 0;
}

.tooltip-error {
  background-color: #e37f7f;
}

a {
  color: #7aafd1;
  text-shadow: none !important;
}
