@import 'compass-boilerplate-vendor/normalize';
@import 'compass-boilerplate-vendor/html5bp';
@import 'compass-boilerplate';

@import 'variables';
@import 'components/code';

html {
  font-size: $baseFontSize;
}

body {
  @include rem(font-size, $bodyFontSize);

  /* So text looks much better in Crome/Safari */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

#ember-testing-container {
  /* Set position static to short-circuit Hubspot Tether's positioning */
  /* https://github.com/HubSpot/tether/pull/98/ */
  position: static !important;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #3023AE;
  background-image: linear-gradient(-134deg, #3023AE 0%, #A56DD7 100%);
  -webkit-display: flex;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
}

#ember-logo {
  width: 200px;
  height: auto;
  @include rem(margin-right, 10);
  @include inline-block;
}

.badges {
  @include rem(margin-top, 4);
  text-align: center;

  a + * {
    @include rem(margin-left, 1);
  }
}

.logo-tooltip {
  @include rem(font-size, 2);
  top: 16px !important;
}

.page-content {
  $_width: 800px;

  width: 100%;
  @include rem(padding, $spacing);
  padding-left: calc((100% - #{$_width}) / 2);
  padding-right: calc((100% - #{$_width}) / 2);
  box-sizing: border-box;
}

.gray {
  background-color: #eee;
}

.some-component {
  border: 1px solid #666;
  @include rem(border-radius, 0.3);
  @include inline-block;
  @include rem(padding, 0.6, 1);
  cursor: pointer;
  background-color: rgba($white, 0.5);
}

hr {
  @include rem(margin, 6, 0);
}
