@import 'vendor/normalize';
@import 'vendor/html5bp';

@import 'variables';
@import 'components/code';

html {
  font-size: $baseFontSize;
}

body {
  font-size: #{$bodyFontSize}rem;

  /* So text looks much better in Crome/Safari */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

#ember-testing-container {
  /* Set position static to short-circuit Hubspot Tether's positioning */
  /* https://github.com/HubSpot/tether/pull/98/ */
  position: static !important;
}

#ember-testing {
  /* The default transform: scale(0.5) messes with tooltip positioning */
  transform: none !important;
  transform-origin: inherit !important;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #3023AE;
  background-image: linear-gradient(-134deg, #3023AE 0%, #A56DD7 100%);
  -webkit-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ember-logo {
  width: 200px;
  height: auto;
  margin-right: 10rem;
  display: inline-block;
}

.badges {
  margin-top: 4rem;
  text-align: center;

  a + * {
    margin-left: 1rem;
  }
}

.logo-tooltip {
  font-size: 2rem;
  top: 16px !important;
}

.page-content {
  $_width: 800px;
  $_gutter: 10px;

  width: 100%;
  padding: 3rem;
  padding-left: calc((100% - #{$_width}) / 2);
  padding-right: calc((100% - #{$_width}) / 2);
  box-sizing: border-box;
  border-left: #{$_gutter} solid transparent;
  border-right: #{$_gutter} solid transparent;
}

.gray {
  background-color: #eee;
}

.some-component {
  border: 1px solid #666;
  border-radius: 0.3rem;
  display: inline-block;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: rgba($white, 0.5);
  position: relative;
}

hr {
  margin: 6rem 0;
}

input {
  padding: 0.4rem 0.6rem;
}

p {
  margin: 3rem 0;
}

a {
  color: $purple;
  text-decoration: none;
  border-bottom: 1px dotted $purple;
}

li {
  padding: 0.4rem 0;
}

.ember-popover {
  h3, p {
    margin: 1rem 0;
  }

  h3 {
    border-bottom: 1px solid #ccc;
  }
}

/* Async spinner */

.spinner {
  margin: 3px 0 5px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* End of async spinner */
