{{!-- BEGIN-SNIPPET tooltip-delay-open-1 --}}
{{#test-calling-component}}
  <div
    class="has-tooltip inline-block"
    data-test="delay-open-data"
    data-tooltip-content="This delayed tooltip is set on a data attribute after 1000ms"
    data-tooltip-event="click"
    data-tooltip-delay="1000"
  >
    Click me
  </div>
{{/test-calling-component}}
{{!-- END-SNIPPET --}}
