{{!-- BEGIN-SNIPPET tooltip-on-element --}}
<div
  class="has-tooltip"
  data-test="on-element"
  data-tooltip-content="This is set on a data attribute"
>
  Hover over me
</div>
{{!-- END-SNIPPET --}}
