{{#if hasBlock}}
  {{#if _tooltipElementRendered}}
    {{#ember-wormhole
      to=wormholeId
      renderInPlace=tooltipElementNotRendered
    }}
      <div>
        {{yield this}}
      </div>
    {{/ember-wormhole}}
  {{/if}}
{{/if}}
