{{#maybe-in-element this._renderElement this._awaitingTooltipElementRendered}}
  <div>
    {{#if this._shouldRenderContent}}
      {{#if (hasBlock)}}
        {{yield this}}
      {{else}}
        {{@text}}
      {{/if}}
    {{/if}}
  </div>
{{/maybe-in-element}}
