{{#maybe-in-element _renderElement _awaitingTooltipElementRendered}}
  <div>
    {{#if _shouldRenderContent}}
      {{#if (hasBlock)}}
        {{yield this}}
      {{else}}
        {{text}}
      {{/if}}
    {{/if}}
  </div>
{{/maybe-in-element}}
