{{#ember-wormhole to=wormholeId renderInPlace=_awaitingTooltipElementRendered}}
  <div>
    {{#if _shouldRenderContent}}
      {{#if (hasBlock)}}
        {{yield this}}
      {{else}}
        {{text}}
      {{/if}}
    {{/if}}
  </div>
{{/ember-wormhole}}
