<span class="js-test-tooltip-target">
  Tooltip
  <EmberTooltip @tooltipClass="js-test-tooltip">
    tooltip text
  </EmberTooltip>
</span>

<hr>

<span class="js-test-popover-target">
  Popover
  <EmberPopover @tooltipClass="js-test-popover">
    popover text
  </EmberPopover>
</span>
