<span class="js-test-tooltip-target">
  Tooltip
  {{#ember-tooltip tooltipClass="js-test-tooltip"}}
    tooltip text
  {{/ember-tooltip}}
</span>

<hr>

<span class="js-test-popover-target">
  Popover
  {{#ember-popover tooltipClass="js-test-popover"}}
    popover text
  {{/ember-popover}}
</span>
