<span class="js-test-tooltip-target">
	Tooltip
	{{#ember-tooltip tooltipClassName='ember-tooltip js-test-tooltip'}}
		tooltip text
	{{/ember-tooltip}}
</span>

<hr>

<span class="js-test-popover">
	Popover
	{{#ember-popover tooltipClassName='ember-popover js-test-popover'}}
		popover text
	{{/ember-popover}}
</span>
