<h1 id="title">Ember Tooltips</h1>

<h2>Other examples</h2>

<ul>
  <li>
    {{#link-to 'tooltip-on-helper'}}
      Tooltips on <strong>helpers</strong> like component, view, link-to, etc
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'tooltip-as-component'}}
      <strong>HTMLBars</strong> tooltips as <strong>components</strong> that render on their parent component
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'tooltip-on-element'}}
      Tooltips set on <strong>elements</strong> using <strong>data attributes</strong>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'tooltip-manual-trigger'}}
      Tooltips triggered <strong>manually</strong> by providing a <strong>boolean attribute</strong>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'tooltip-auto-close'}}
      Tooltips with <strong>automatic-close durations</strong>
    {{/link-to}}
  </li>

</ul>

{{outlet}}
