<h2>Tooltips on helpers</h2>

<ul class="examples">

  <li>
    {{#test-component
      tooltipContent='Should be removed on transition'
      tooltipEvent='click'
      data-test='show-on-click'
    }}
      Click me
    {{/test-component}}
  </li>

</ul>
