<ul class="examples">

  <li>
    {{#test-component
      tooltipContent='Should be removed on transition'
      tooltipEvent='click'
      data-test='show-on-click'
    }}
      Click me
    {{/test-component}}
  </li>

  <li>
    {{#test-component}}
      {{#link-to 'application'
        tooltipContent='Tooltip on link should be removed on transition'
        data-test='link-with-tooltip'
      }}
        Hover me
      {{/link-to}}
    {{/test-component}}
  </li>

</ul>
