<br>
<span id="new-test">
  Hey
  <br>
  {{#ember-tooltip side='right'}}
    Test
  {{/ember-tooltip}}
  <br>
</span>

<br>
<br>

<span id="test2">
  Sup
  {{#ember-tooltip-simple}}
    Ok
  {{/ember-tooltip-simple}}
</span>
