{{#test-component}}
  Sup
  {{#tooltip-on-component side='left'}}
    Hey sdg sdg
  {{/tooltip-on-component}}
{{/test-component}}

<hr>

{{#tooltip-on-element side='left' target='#test-1' event='focus' duration=1000}}
  Hey sdg sdg
{{/tooltip-on-element}}

{{input id='test-1'}}

<hr>

<div>
  Yo
  {{#tooltip-on-element}}
    Hey man!
  {{/tooltip-on-element}}
</div>

<div>
  Yo
  {{#tooltip-on-element}}
    Hey man!
  {{/tooltip-on-element}}
</div>
