<div class="tooltip-1-target">
  tooltip 1

  <EmberTooltip @tooltipClass="tooltip-1">
    tooltip-1!
  </EmberTooltip>
</div>

<div class="tooltip-2-target">
  tooltip 2

  <EmberTooltip @tooltipClass="tooltip-2">
    Here is the info!
  </EmberTooltip>
</div>

<div class="tooltip-3-target">
  tooltip 3
  <EmberTooltip @tooltipClass="tooltip-3" @text="tooltip-3" />
</div>

<div class="tooltip-4-target">
  tooltip 4
  <EmberTooltip @tooltipClass="tooltip-4" @text="tooltip-4" />
</div>

<div class="tooltip-5-target">
  tooltip 5
  <EmberTooltip @tooltipClass="tooltip-5" @text="tooltip-5" />
</div>

<div class="tooltip-6-target">
  tooltip 6
  <EmberTooltip @tooltipClass="tooltip-6" @text="tooltip-6" />
</div>

<div class="tooltip-7-target">
  tooltip 7
  <EmberTooltip @tooltipClass="tooltip-7" @text="tooltip-7" />
</div>

<div class="tooltip-8-target">
  tooltip 8
  <EmberTooltip @tooltipClass="tooltip-8" @text="tooltip-8" />
</div>

<div class="tooltip-9-target">
  tooltip 9
  <EmberTooltip @tooltipClass="tooltip-9" @text="tooltip-9" />
</div>

<div class="tooltip-10-target">
  tooltip 10
  <EmberTooltip @tooltipClass="tooltip-10" @text="tooltip-10" />
</div>

<div class="tooltip-11-target">
  tooltip 11
  <EmberTooltip @tooltipClass="tooltip-11" @text="tooltip-11" />
</div>

<div class="tooltip-12-target">
  tooltip 12
  <EmberTooltip @tooltipClass="tooltip-12" @text="tooltip-12" />
</div>

<div class="tooltip-13-target">
  tooltip 13
  <EmberTooltip @tooltipClass="tooltip-13" @text="tooltip-13" />
</div>

<div class="tooltip-14-target">
  tooltip 14
  <EmberTooltip @tooltipClass="tooltip-14" @text="tooltip-14" />
</div>

<div class="tooltip-15-target">
  tooltip 15
  <EmberTooltip @tooltipClass="tooltip-15" @text="tooltip-15" />
</div>
