<p>Please note: you must set <code>tooltipEvent='manual'</code> on the component to set visbility manually.</p>

<ul class="examples">

  <li>
    {{#test-component
      tooltipContent='This is a manually triggered tooltip'
      tooltipEvent='manual'
      tooltipVisibility=showTooltip
      data-test='manually-trigger'
    }}
      Manual tooltip
    {{/test-component}}

    {{input type="checkbox" checked=showTooltip}} Show
  </li>

  <li>
    {{#test-component data-test='manually-trigger-component'}}
      {{#tooltip-on-parent
        event='manual'
        visibility=showComponentTooltip
      }}
        Manually triggering a component tooltip
      {{/tooltip-on-parent}}
      Manual tooltip as component
    {{/test-component}}

    {{input type="checkbox" checked=showComponentTooltip}} Show
  </li>

</ul>

{{code-snippet name='tooltip-manual-trigger-1.hbs'}}
{{code-snippet name='tooltip-manual-trigger-2.hbs'}}
