<ul class="examples">

  <li>
    {{#test-component data-test='in-component-and-block'}}
      {{#tooltip-on-parent}}
        Using a component in the template
      {{/tooltip-on-parent}}
      Hover over me
    {{/test-component}}
  </li>

  <li>
    {{#test-component data-test='in-component-and-block-htmlbars'}}
      {{#tooltip-on-parent}}
        {{#link-to 'index'}}Using HTMLBars{{/link-to}} in content
      {{/tooltip-on-parent}}
      Hover over me
    {{/test-component}}
  </li>

  <li>
    {{#test-component data-test='in-component-and-inline'}}
      {{tooltip-on-parent
        content='Using a component in the template'
      }}
      Hover over me
    {{/test-component}}
  </li>

</ul>

{{code-snippet name='tooltip-as-component.hbs'}}
