{{test-component tooltipContent=safeString data-test='on-inline-component'}}

{{test-component tooltipContent=safeStringToggle data-test='toggle-safestrings'}}

<div data-test='button' {{action "toggle"}}>Click me!</div>
