<h2>Tooltips on helpers</h2>

<ul class="examples">

  <li>
    {{test-component
      tooltipContent='This is a tooltip on an inline component'
      data-test='on-inline-component'
    }}
  </li>

  <li>
    {{#test-component
      tooltipContent='This is a tooltip on a block component'
      data-test='on-block-component'
    }}
      Custom 'tooltip-error' class
    {{/test-component}}
  </li>

  <li>
    {{#link-to 'index'
      tooltipContent='This is a tooltip on a link-to helper'
      class='inline-block'
      data-test='on-link-to'
    }}
      On link to
    {{/link-to}}
  </li>

</ul>
