<p>Please note: you must call <code>this.renderChildTooltips()</code> on the parent view or component to render the tooltip.</p>

<ul class="examples">

  <li>
    {{#test-calling-component}}
      <div
        class="has-tooltip inline-block"
        data-test="on-element"
        data-tooltip-content="This is set on a data attribute"
      >
        Hover over me
      </div>
    {{/test-calling-component}}
  </li>

</ul>

{{code-snippet name='tooltip-on-element.hbs'}}
